.container {
  background:#f2f2f2;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  margin: 20px;
  color: #333;
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  margin: 20px;
  color: #777;
}
.btn {
  display: block;
  padding: 10px 20px;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.btn:hover {
 background-color: red;
}